.para4 {
  margin:  0.0972in 0px 0.0835in 0px;
}

.para2 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0972in 0px;
}

.para1 {
  line-height: 115.0000%;
  margin:  0.0000in 0px 0.0000in 0px;
}

.para3 {
  margin:  0.1390in 0px 0.0835in 0px;
}

.para0 {
  margin:  0.0000in 0px 0.1965in 0px;
}

.span4 {
  font-weight: bold;
}

.span2 {
}

.span3 {
  font-family: 'Liberation Serif';
  font-size: 14.0000pt;
  font-weight: bold;
}

.span1 {
  font-family: 'Liberation Serif';
  font-size: 18.0000pt;
  font-weight: bold;
}

.span0 {
  color: #000080;
  text-decoration:  underline;
}

.body0 {
  -epub-writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  direction: ltr;
  writing-mode: horizontal-tb;
}

.frame0 {
  border: 0.74pt solid #000080;
  width: 1.2811in;
}
